  <div class="footer">
    <div class="container">
        <div class="row">
            <!-- Customer Care Section -->
            <div class="col-lg-4">
                <h4 class="title">Customer Care</h4>
                <div class="row">
                      <div class="background">
                          <p class="phone-number">100101-011</p>
                       <img class="icon" src="\assets\images\cell.png" alt="Icon Placeholder" />
                        
                      </div>
                </div>
              </div>
            <!-- Get Social Section -->
            <div class="col-lg-4">
                <h4 class="title">Get Social</h4>
                <div class="background_G">
                  <div class="icons">
                    <img src="\assets\images\facebook.png" alt="Facebook" />
                    <img src="\assets\images\twitter.png" alt="Twitter" />
                    <img src="\assets\images\youtube.png" alt="Youtube" />
                    <img src="\assets\images\linkedin.png" alt="Linkedln" />
                  </div>
                </div>
            </div>              
            <!-- Copyright Section -->
            <div class="col-lg-4">
                <div class="copyright">
                    <img class="copyright_icon" src="\assets\images\copyright.png" alt="Popup Icon" />
                    <div class="copy_content">2024 Next Gen Bank</div>
                </div>
            </div>
        </div>
    </div>
</div>
