.footer {
    background-color: #E9F1F7;
    padding-top: 30px;
    width: 100%;
    top:96.5%;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    z-index: 999; 
    margin-top: 10px;
}   

.footer .row {
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
}

.container {
    position: relative;
    padding: 20px;
    width: 100%;
}

.title,
.title1 {
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-bottom: 20px;
}

.content-container,
.content_footer {
    position: relative;
}

.background,
.background_G {
    top: 0;
    background: #16537e;
    border-radius: 38.55px;
}

.phone-number{
    color: white;
    font-size: 21px;
    font-family: Inter;
    font-weight: 600;
    margin-left: 50px; 
    left: -12px;
    margin-top: 13px;
}

.copy_content {
    color: black;
    font-size: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: inline-block;
}

.copyright_icon{
    margin-top: -5px;
    width: 22px;
    height: 22px;
}

.icon {
    width: 30px;
    height: 30px;
    margin-left: 9px;
    margin-top: -65px;
}

.icons img {
    width: 30px;
    height: 30px;
    margin: 8px;
}

.copyright {
    margin-left: 160px;
    margin-top:80px
}

.background {
    width: 200px;
    height: 47.10px;
}
  
.background_G {
    width: 200px;
    margin-left: -30px;
}

@media screen and (width: 1366px) and (height: 768px) {
    .footer {
      top:100% 
    }
    .copyright {
        margin-left: 0px;
        margin-top:80px
    }
  }
  
@media screen and (max-width: 1280px) and (max-height: 720px) {
    .footer {
      top:110%;
    }
    .copyright {
        margin-left: 0px;
        margin-top:80px
    }
  }
    

