
<div class="right_bar">
    <div class="sub-container" style="top: 0px;">
        <div class="box3"></div>
        <div class="title3">My Messages</div>
        <div class="content">
            <span class="highlight">You have 0 new messages</span><br/>
            <span class="highlight"> </span><br/>
           <a href="#"(click)="preventDefault($event)"><span class="update">Go to My messages </span></a> 
        </div>
    </div>
    <div class="sub-container cont">
        <div class="box3"></div>
        <div class="title3">My Details & Preferences</div>
        <div class="content">
            <span class="highlight1">Home:</span><span class="highlight2"> Add details now</span><br/>
            <span class="highlight1">Work:</span><span class="highlight2"> Add details now</span><br/>
            <span class="highlight1">Mobile:</span><span class="highlight2"> 809******7</span><br/>
            <br/>
           <a href="#"(click)="preventDefault($event)"><span class="update">Update</span></a>
        </div>
    </div>
    <div class="sub-container cont2">
        <div class="box3"></div>
        <div class="title3">Need a little help ?</div>
        <div class="content">
            <span class="highlight">Talk to us and see how</span><br/>
            <span class="highlight">we could help you</span><br/>
            <br/>
           <a href="#"(click)="preventDefault($event)"><span class="update">Find out more</span></a>
        </div>
    </div>
</div> 
    
