  <div class="bank_bg">
    <img class="bg_image img-fluid" src="\assets\images\bg1.jpg" alt="Background Image" />
    <div class="styled-text">Stay connected to <br />your accounts 24/7</div>
  </div>
  <div class="container mt-5">
      <div class="row mt-12">
          <div id="About" class="col-lg-4 box4">
              <div class="box-content">
                  <img src="\assets\images\about.png" alt="Placeholder Image" class="img-fluid" />
                  <div class="title">About Us</div>
                  <div class="text1">We have everyday bank accounts to help you better manage your money and savings
                      accounts to grow your money.</div>
              </div>
          </div>
          <div id="Credit" class="col-lg-4 box5">
              <div class="box-content">
                  <img src="\assets\images\creaditcard.png" alt="Placeholder Image" class="img-fluid" />
                  <div class="title">Credit Card</div>
                  <div class="text2">Elevate your purchasing power with our credit cards, offering convenient and secure
                      transactions globally.</div>
              </div>
          </div>
          <div id="Loans" class="col-lg-4 box6">
              <div class="box-content">
                  <img src="\assets\images\loan.png" alt="Placeholder Image" class="img-fluid" />
                  <div class="title">Loans</div>
                  <div class="text3">Our bank offers a range of loan products tailored to meet diverse financial needs,
                      including home loans, personal loans, and business loans.</div>
              </div>
          </div>
      </div>
  </div>
  